# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#Imported from CVS (.cvsignore)
ABOUT-NLS
aclocal.m4
autom4te.cache
ChangeLog.bak
config.cache
config.h
config.h.in
config.log
config.status
config.guess
config.rpath
config.sub
configure
install-sh
libtool
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h
stamp-h.in
.*.swp
depcomp
stamp-h1
debian
*-stamp
build-tree
